.flashcard-ctr {
  /* position: relative; */
  background: #171717;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.flashcard-text {
  font-size: 20px;
  font-family: Basier Square;
  font-weight: 900px;
  color: white;
}

.flashcard-subheading {
  color: rgb(99, 99, 99);
  font-weight: 900px;
  font-size: 15px;
  font-family: Basier Square;
}

.flashcard-ctr .content {
  border-radius: 10px;
  background: #171717;
  z-index: 1;
  padding: 20px;
  color: white;
  position: relative;
}

.content::before {
  opacity: 0;
  transition: opacity 300ms;
  content: " ";
  display: block;
  background: #fff5;
  position: absolute;
  filter: blur(50px);
}

.flashcard-ctr:hover .content::before {
  opacity: 1;
}

.flashcard-ctr:hover::before {
  opacity: 1;
  animation-play-state: running;
}
.flashcard-ctr:hover::after {
  opacity: 1;
  animation-play-state: running;
}

.flashcard-ctr:hover .glass {
  opacity: 0;
}

.glass {
  position: absolute;
  content: "";
  display: block;
  background: #17171733;
  backdrop-filter: blur(50px);
  z-index: 1;
  transition-duration: 0.5s;
}
