:root {
  --navbar-grey: rgb(59, 61, 64);
  --red-design: #c4133d;
  --blue-design: #161a82;
  --purple-design: #77165b;
}

* {
  margin: 0;
  padding: 0;
}

.landingPage-ctr {
  background: rgb(60,60,60);
  background: -moz-linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3c3c",endColorstr="#000000",GradientType=1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.headingBg-ctr {
  background-image: url("../assets/bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease;
  padding-top: -2vh;
}

.headingBg-ctr:hover {
  transform: scale(1.009);
  box-shadow: white 0px 5px 15px;
}

.headingBg-ctr:active {
  box-shadow: white 0px 0px 0px;
  transform: translateY(10px);
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
}